body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: green;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: green;
}

.item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    background-color: green;
}

.bebidas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bebida {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.contato {
    text-align: center;
    margin: 20px;
}

.contato-info {
    list-style: none;
    padding: 0;
}

.contato-info li {
    margin: 5px;
}