body{
    background-color: #98BF64;
}
hr{
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.logo {
    max-width: 200px;
}
p {
    text-align: center;
  }
h1 {
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #9FA3A9;
}


nav {
    margin: 0 auto;
    width: 200px; 
    font-family:  sans-serif;
    font-size: 18px;
    font-weight: bold
      
  }
  
 

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #9FA3A9;
}

.pizza {
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

#p{
    height: 300px;
    width: 300px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #98BF64;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #9FA3A9;
}

.item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    background-color: #9FA3A9;
}

.bebidas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bebida {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.contato {
    text-align: center;
    margin: 20px;
}

.contato-info {
    list-style: none;
    padding: 0;
}

.contato-info li {
    margin: 5px;
}
.entrada{
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;

}

.doce{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #9FA3A9;
    justify-content: space-between;
}