/* Estilos gerais */
/* Cabeçalho principal */
header {
    background-color: #fff; /* Fundo branco */
    display: flex;
    justify-content: space-between; /* Alinha os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
  }
  
  /* Botões de navegação */
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white; /* Texto cinza escuro */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
  }
  
  nav a:hover {
    background-color: green; /* Verde claro ao passar o mouse */
  }
  
  /* Logo (opcional) */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  /* Navegação */
  nav {
    background-color: #77DD77;
    color: #77DD77;
    padding: 10px;
    text-align: center;
  }
  
  nav button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    margin: 0 10px;
  }
  
  /* Seções */
  section {
    padding: 20px;
  }
  
  /* Pizzas */
  #p {
    height: 300px;
    width: 300px;
  }
  
  /* Personalize os estilos para as pizzas, entradas e bebidas aqui */
  .pizza {
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .entrada {
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: center;
  }
  
  .bebida {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
  }
  