body{
    background-color: #77dd77;
}
hr{
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.logo {
    max-width: 200px;
}
p {
    text-align: center;
    color: white;
  }
h1 {
    width: calc(25% - 20px); 
    margin: 10px;
    padding: 10px;
    background-color: #77dd77;
    color: white;
}


nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
  }
  
  nav a:hover {
    background-color: green;
  }
  
 

  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #77dd77;
}

.pizza {
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #77dd77;
    padding: 10px;
}

#p{
    height: 300px;
    width: 300px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #77dd77;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #77dd77;
}

.item {
    border: 1px solid #77dd77;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    background-color: #77dd77;
}

.bebidas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.bebida {
    text-align: center;
    border: 1px solid #77dd77;
    padding: 20px;
}

.contato {
    text-align: center;
    margin: 20px;
}

.contato-info {
    list-style: none;
    padding: 0;
}

.contato-info li {
    margin: 5px;
}
.entrada{
    width: calc(25% - 20px); 
    margin: 10px;
    border: 1px solid #77dd77;
    padding: 10px;
    justify-content: center;

}

.doce{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    background-color: #77dd77;
    justify-content: space-between;
}